/*************************** 
NAVEGACION
***************************/
/*------
MIXIN
------*/

@mixin anivalores ($val1,$val2,$val3) {
    opacity: $val1;
    animation-duration: $val2;
    animation-delay: $val3;
    
}




.navegacion{
    @include anivalores(0,700ms ,1500ms );
    backdrop-filter: blur(10px);
    background: rgba($color: #000, $alpha: 0.1);
    height: 4rem;
    width: 28vw;
    border-radius: 2rem;
    left: calc(50% - 12.5vw);
    bottom: 4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    animation-name: aparecer;
    animation-fill-mode: forwards;
    box-shadow: 0.5rem 0.5rem 1rem rgba($color: #000000, $alpha: .6);
    img{
        height: 2rem;
        width: 2rem;
        opacity: 25%;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(60%);
            transform: scale(1.15);
            opacity: 80%;
            transition: 500ms;
        }
    }
}







/*************************** 
CUERPO
***************************/

.cuerpoIndex{
    .cont-principal{
        margin: auto;
        margin-top: 20vh;
        margin-bottom: 15vh;
        padding: 40px 1.5rem;
        width: 75vw;
        min-height: 45vh;
        border: 6px solid $fondoMenu;
        border-radius: 3vw;
        box-shadow: 3vh 3vh 5vh $fondoMenu;
        animation-name: aparecer;
        animation-duration: 850ms;

        h1, h2{
            @include anivalores(0,850ms ,850ms );
            display: flex;
            justify-content: center;
            color: $fondoMenu;
            font-weight: 800;
            animation-name: aparecer;
            animation-fill-mode: forwards;
        }

        /*
        ------------------
        EXTEND
        ------------------
        */

        .h5, .h6{
            @extend h1;
            margin-top: 2rem;   
            font-weight: 600;
            animation-delay: 1200ms;
            text-align: justify;
        }
    }

}
$subs:(
    ps: #001132,
    ae: #00005c,
    ai: #390000,
    pr: #00005f);

@each $clave, $valor-color in $subs{
    .subtitulo-#{$clave}{
        display: flex;
        background-color: $valor-color;
        border: 2px solid $bordes;
        border-radius: 1vw;
        width: 90%;
        padding-top: 5px;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-around;
        h2 {
            @include anivalores(0,550ms ,400ms );
            animation-name: aparecer;
            animation-fill-mode: forwards;
            color: $botones;
            img{
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 10px;
                width: 60px;
                filter: drop-shadow(3px 3px 6px $bordes);
            }
            a{
                font-size: 2rem;
                font-weight: 800;
                color: $botones;
                img{
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    border-radius: 10px;
                    width: 60px;
                    filter: drop-shadow(3px 3px 6px $bordes);
                }
                &:hover{
                    color: $bordes;
                    transition: 650ms;
                }
            }
        }
    }
}

.cont-photoshop{
    div{
        div{
            img{
                filter: grayscale(30%) drop-shadow(8px 8px 10px #000);
                transition: all 500ms ease-in-out;
            }
            img:hover{
                transform: scale(1.05);
                filter: grayscale(0%) drop-shadow(3px 3px 6px $bordes);
            }
            .prop-carrusel{
                min-height: 320px;
            }
        }
    }
}
.videos{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
    div{
        width: 40%;
        margin-bottom: 35px;
    }
    .card-text{
        font-weight: 700;
    }
    .card-title{
        font-weight: 900;
        text-shadow: 3px 2px 4px rgba($color: #000, $alpha: 0.7);
    }
}