@media (max-width: 768px){
    .navegacion{
        width: 40vw;
        left: calc(50% - 20vw);
    }
    .videos{
        width: 98%;
        height: auto;
        margin-left: 1%;
        div{
            width: 100%;
            h5, p{
                text-align: center;
            }
            iframe{
                margin-left: calc(50% - 150px);
                border: 3px solid $fondoMenu;
            }
        }
    }
    .cont-vid{
        display: block;
        div{
            h5, p{
                text-align: center;
            }
        }
        span{
            display: none;
        }
    }
}
@media (max-width: 600px){
    .navegacion{
        width: 50vw;
        left: calc(50% - 25vw);
    }
    .subtitulo-ai, .subtitulo-ps, .subtitulo-pr, .subtitulo-ae{
        h2{
            a{
                img{
                    height: 36px;
                    width: 36px;
                }
            }
        }
    }
}
@media (max-width: 450px){
    header{
        display: none;
    }
    .navegacion{
        width: 70vw;
        left: calc(50% - 35vw);
        bottom: auto;
        top: 2rem;
        background: rgba($color: #000, $alpha: 0.4);
        img{
            opacity: 45%;
            filter: grayscale(65%);
        }
    }
    .subtitulo-ai, .subtitulo-ps, .subtitulo-pr, .subtitulo-ae{
        h2{
            a{
                font-size: 18px;
            }
            img{
                width: 18px;
                height: 18px;
            }
        }
    }
}