/*************************** 
MENU 
***************************/
header{
    width: 80vw;
    padding-left: 10vw;
    background-color: $fondoMenu;
    border: 2px solid $bordes;
    border-top: 0px;
    border-radius: 0 0 3vw 3vw;
    .col{
        display: flex;
        text-align: center;
        justify-content: center;
        height: 35px;
        min-width: 7vw;
        img{
            width: 35px;
            filter: drop-shadow(3px 3px 6px $bordes);
            animation-name: giro;
            animation-duration: 1800ms;
            animation-delay: 300ms;
        }
        a{
            opacity: 0;
            font-size: 1rem;
            font-weight: 600;
            color: $fondo;
            min-width: 103px;
            margin: 10px 0 10px 0;
            animation-name: posicionar;
            animation-duration: 800ms;
            animation-fill-mode: forwards;
        }
/*
-------------------------
BUCLE
-------------------------
*/

@for $i from 1 through 5 {
    #botonMenu#{$i}{
        animation-delay: ($i + 1) * 200ms;
    }
}
    }
    .col:hover a{
        color: $bordes;
        transition: 600ms;
    }
}