@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/*******************
REINICIO
*********************/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*******************
BODY COMPLETO
*********************/
body {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(#F2E9D8, #734136);
  min-height: 100vh;
}

/*************************** 
MENU 
***************************/
header {
  width: 80vw;
  padding-left: 10vw;
  background-color: #734136;
  border: 2px solid #080808;
  border-top: 0px;
  border-radius: 0 0 3vw 3vw;
}
header .col {
  display: flex;
  justify-content: center;
  height: 60px;
  min-width: 7vw;
  /*
  -------------------------
  BUCLE
  -------------------------
  */
}
header .col img {
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
  animation-name: giro;
  animation-duration: 1800ms;
  animation-delay: 300ms;
}
header .col a {
  opacity: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #F2E9D8;
  min-width: 103px;
  margin: 10px 0 10px 0;
  animation-name: posicionar;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
header .col #botonMenu1 {
  animation-delay: 400ms;
}
header .col #botonMenu2 {
  animation-delay: 600ms;
}
header .col #botonMenu3 {
  animation-delay: 800ms;
}
header .col #botonMenu4 {
  animation-delay: 1000ms;
}
header .col #botonMenu5 {
  animation-delay: 1200ms;
}
header .col:hover a {
  color: #080808;
  transition: 600ms;
}

/*************************** 
NAVEGACION
***************************/
/*------
MIXIN
------*/
.navegacion {
  opacity: 0;
  animation-duration: 700ms;
  animation-delay: 1500ms;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  height: 4rem;
  width: 25vw;
  border-radius: 2rem;
  left: calc(50% - 12.5vw);
  bottom: 4rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.navegacion img {
  height: 2rem;
  width: 2rem;
  opacity: 25%;
  filter: grayscale(100%);
}
.navegacion img:hover {
  filter: grayscale(60%);
  transform: scale(1.15);
  opacity: 80%;
  transition: 500ms;
}

/*************************** 
CUERPO
***************************/
.cuerpoIndex .cont-principal {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 15vh;
  padding: 40px 1.5rem;
  width: 75vw;
  min-height: 45vh;
  border: 6px solid #734136;
  border-radius: 3vw;
  box-shadow: 3vh 3vh 5vh #734136;
  animation-name: aparecer;
  animation-duration: 850ms;
  /*
  ------------------
  EXTEND
  ------------------
  */
}
.cuerpoIndex .cont-principal h1, .cuerpoIndex .cont-principal .h5, .cuerpoIndex .cont-principal .h6, .cuerpoIndex .cont-principal h2 {
  opacity: 0;
  animation-duration: 850ms;
  animation-delay: 850ms;
  display: flex;
  justify-content: center;
  color: #734136;
  font-weight: 800;
  animation-name: aparecer;
  animation-fill-mode: forwards;
}
.cuerpoIndex .cont-principal .h5, .cuerpoIndex .cont-principal .h6 {
  margin-top: 2rem;
  font-weight: 600;
  animation-delay: 1200ms;
  text-align: justify;
}

.subtitulo-ps {
  display: flex;
  background-color: #001132;
  border: 2px solid #080808;
  border-radius: 1vw;
  width: 90%;
  padding-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}
.subtitulo-ps h2 {
  opacity: 0;
  animation-duration: 550ms;
  animation-delay: 400ms;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  color: #D99771;
}
.subtitulo-ps h2 img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ps h2 a {
  font-size: 2rem;
  font-weight: 800;
  color: #D99771;
}
.subtitulo-ps h2 a img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ps h2 a:hover {
  color: #080808;
  transition: 600ms;
}

.subtitulo-ae {
  display: flex;
  background-color: #00005c;
  border: 2px solid #080808;
  border-radius: 1vw;
  width: 90%;
  padding-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}
.subtitulo-ae h2 {
  opacity: 0;
  animation-duration: 550ms;
  animation-delay: 400ms;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  color: #D99771;
}
.subtitulo-ae h2 img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ae h2 a {
  font-size: 2rem;
  font-weight: 800;
  color: #D99771;
}
.subtitulo-ae h2 a img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ae h2 a:hover {
  color: #080808;
  transition: 600ms;
}

.subtitulo-ai {
  display: flex;
  background-color: #390000;
  border: 2px solid #080808;
  border-radius: 1vw;
  width: 90%;
  padding-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}
.subtitulo-ai h2 {
  opacity: 0;
  animation-duration: 550ms;
  animation-delay: 400ms;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  color: #D99771;
}
.subtitulo-ai h2 img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ai h2 a {
  font-size: 2rem;
  font-weight: 800;
  color: #D99771;
}
.subtitulo-ai h2 a img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-ai h2 a:hover {
  color: #080808;
  transition: 600ms;
}

.subtitulo-pr {
  display: flex;
  background-color: #00005f;
  border: 2px solid #080808;
  border-radius: 1vw;
  width: 90%;
  padding-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}
.subtitulo-pr h2 {
  opacity: 0;
  animation-duration: 550ms;
  animation-delay: 400ms;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  color: #D99771;
}
.subtitulo-pr h2 img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-pr h2 a {
  font-size: 2rem;
  font-weight: 800;
  color: #D99771;
}
.subtitulo-pr h2 a img {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 60px;
  filter: drop-shadow(3px 3px 6px #080808);
}
.subtitulo-pr h2 a:hover {
  color: #080808;
  transition: 600ms;
}

.cont-photoshop div div img {
  filter: grayscale(30%);
}
.cont-photoshop div div img:hover {
  transform: scale(1.15);
  filter: grayscale(0%) drop-shadow(3px 3px 6px #080808);
  transition: 500ms;
}

/***************************
ANIMACIONES
***************************/
@keyframes posicionar {
  0% {
    margin-top: 0px;
    opacity: 0%;
  }
  15% {
    margin-top: 4px;
    opacity: 20%;
  }
  30% {
    margin-top: 8px;
    opacity: 40%;
  }
  60% {
    margin-top: 10px;
    opacity: 60%;
  }
  75% {
    margin-top: 6px;
    opacity: 80%;
  }
  100% {
    margin-top: 3px;
    opacity: 100%;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
    transform: scale(0);
  }
  80% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes giro {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.8);
  }
  100% {
    transform: rotate(720deg) scale(1) translateX(0px);
  }
}
@media (max-width: 768px) {
  .navegacion {
    width: 40vw;
    left: calc(50% - 20vw);
  }
}
@media (max-width: 600px) {
  .navegacion {
    width: 50vw;
    left: calc(50% - 25vw);
  }

  .videos div iframe {
    width: 90vw;
  }
}
@media (max-width: 450px) {
  header {
    display: none;
  }

  .navegacion {
    width: 70vw;
    left: calc(50% - 35vw);
    bottom: auto;
    top: 2rem;
    background: rgba(0, 0, 0, 0.4);
  }
  .navegacion img {
    opacity: 45%;
    filter: grayscale(60%);
  }

  .subtitulo h2 a {
    font-size: 24px;
  }
  .subtitulo h2 img {
    width: 35px;
  }
}

/*# sourceMappingURL=main-css.css.map */
